.section-donate {
  background-color: #f2f2f2;
  padding: 20px;
  background-image: url(./homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.donate-form {
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  border: 1px solid green;
  border-radius: 10px;
  margin: 0.5rem;
}

.h1-donate {
  font-size: 2.5rem;
  color: green;
  margin-bottom: 20px;

  padding: 10px; /* Add padding to create some space around the text */
  /* Add any other custom styles for the h1 element */
}

.form-donate label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.form-donate input {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 4px;
  margin-bottom: 10px;
  /* Add your custom styles for the input elements */
}

.form-donate select {
  width: 100%;
  padding: 12px; /* Increase the padding to make the elements bigger */
  font-size: 16px; /* Increase the font size to make the text bigger */
  border: 2px solid green;
  border-radius: 4px;
  margin-bottom: 10px;
}

.donate-form .button-donate {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
  margin-top: 30px;
  width: 150px;
}
.button-donate:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.donate-form .image-input {
  padding: 10px;
  border: 1px solid green;
  border-radius: 4px;
  font-size: 16px;
}

.donate-form .image-input:hover {
  border-color: green;
}

.donate-form .image-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}