@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    font-weight: 700;
   
   font-family: 'Roboto', sans-serif;
}
.font-custom {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
  }